@font-face {
	font-family: 'nunitosans-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('nunitosans-Regular'), url('../Fonts/nunitosans-regular-webfont.woff') format('woff');
	}
@font-face {
	font-family: 'nunitosans-light';
	font-style: normal;
	font-weight: normal;
	src: local('nunitosans-light'), url('../Fonts/nunitosans-light-webfont.woff') format('woff');
	}	

@font-face {
   font-family: 'nunitosans-SemiBold';
   font-style: normal;
   font-weight: normal;
   src: local('nunitosans-SemiBold'), url('../Fonts/nunitosans-semibold-webfont.woff') format('woff');
}	
@font-face {
	font-family: 'nunitosans-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('nunitosans-Bold'), url('../Fonts/nunitosans-bold-webfont.woff') format('woff');
}
body {
    font-family:'nunitosans-Regular';
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:767px) and (min-width:320px) {
    
    .ipad-block{
        position: relative;
    }
    .ipad-block .dropdown{
        position: inherit;
    }
    .cab-illustration{
        display: none;
    }
    .Admin-contact-popover,.notification-popover,.profile-popover{
        width:100%!important;
        right:0!important;
    }
    .login-cred{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .customise-width{
        width: 100%!important;
    }
    
    .responsive-customise{
        overflow: auto;
    }
    .empty-state-image{
        width: 100%;
    }
    .list-group-horizontal {
        flex-direction:column!important;
    }
    .nav-menu{
        margin-left:0px!important;
    }
    .bookacab-tabactive{
        border-bottom:0px!important;
    }
    .responsive-mb{
        margin-bottom:20px;
    }
    .cabapp-logo-responsive{
        width:80px!important;
    }
    .navphone-icons-responsive{
        width: 16px!important;
    }
    .cablogo-responsive{
        width:50px!important;
        margin-top:5px
    }
    .nav-custimise-login{
        flex-direction:unset!important;
    }
    .avasoftlogo-responsive{
        width:90px!important;
        margin-top: 5px;
    }
    .menu-responsive{
        padding: 8px 5px!important;
    }
    .button-responsive{
        margin-bottom: 0px!important;
    }
    .advanced-filter{
        width: 21rem!important;
    }
}

@media only screen and (max-width:1200px) and (min-width:768px) {
    .cab-illustration{
        display: none;
    }
    .login-cred{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .responsive-customise{
        overflow: auto;
    }
    .empty-state-image{
        width: 100%;
    }
    .list-group-horizontal {
        flex-direction:column!important;
    }
    .nav-menu{
        margin-left:0px!important;
    }
    .responsive-mb{
        margin-bottom:20px;
    }
    .ipad-responsive{
        display:none!important;
    }
    .ipad-block{
        display:block!important;
    }
    .bookacab-tabactive{
        border-bottom:0px!important;
    }
    .nav-custimise-login{
        flex-direction:unset!important;
    }
    .menu-responsive{
        padding: 8px 8px!important;
    }
    .avasoftlogo-responsive{
        margin-top: 5px;
    }
    .cablogo-responsive{
        margin-top: 5px;
    }
    .customise-width{
        width: 33%!important;
    }
    .width-responsive{
        width: 33%;
    }
}

/**login starts**/
.admincontact{
    width: 20px;
    height: 20px;
    margin-top: 9px;
}
.menu{
    border: none;
    color: #1B2074;
    font-size: 14px;
    padding:8px 8px!important;
}
.illustration{
    width: 100%;
    height: 100%;
}
.cab-illustration{
    height:450px;
}
.login-cred{
    padding-left: 50px;
    padding-right: 50px;
}
.welcome{
    color:#1B2074;
    font-family: 'nunitosans-Bold'!important;
    margin-right: 5px;
    
}
.login-title{
    color:#1B2074;
    font-family:'nunitosans-regular';
}
.login-id{
    color:#1B2074;
    font-size: 16px;  
}

.login-password{
    color:#1B2074;
    font-size: 16px;  
}

.login{
    border:none;
    border-radius: 5px;
    background-color: #F8BB10;
    color:white;
    margin-top: 70px;
    padding: 10px 10px;
    width: 100%;
    font-family: 'nunitosans-semibold';
}
.remembermelabel{
    padding-left: 10px;
}
.closeicon{
	background: none;
	border: none;
	font-size: 35px;
	color: grey;
}
.admincontacts-color{
    color:#1B2074;
}
.action-blocked-title{
    color:#1B2074;
    font-family: 'nunitosans-bold';
    
}
.navphone-icons-admin{
    width:20px!important;
    margin-top:4px
}

/**login endss**/

/**masterpage starts**/
.bg-topnav{
    background-color: white!important;
}
.nav-menu{
    color:#1B2074 ;
    padding-top: 19px;
    padding-bottom: 18px!important;
    border: none;
    margin-right: 5px;
    margin-left: 20px;
}
.nav-icons{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}
.navphone-icons{
    width:26px;
    height: 26px;
    margin-top: 9px;
    margin-right: 15px;
}
.navnotify-icons{
    width:29px;
    height: 29px;
    margin-top: 7px;
    margin-right: 15px;
    
}
.navuserprofile-icons{
    width:29px;
    height: 29px;
    margin-top: 7px; 
    margin-right:5px  
}
.customise-space{
    padding:0px 10px;
}
.title-main{
    color:#1B2074 ;
    padding-left: 8px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    font-family: 'nunitosans-bold';
}
.customise-label{
    padding: 10px 0px;
    color:black ;
    font-size: 16px;
}
.clear{
    color:#1B2074;
    background-color: #C4C4C4;
    padding:10px 40px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom:10px;
    margin-top: 60px;
    font-family: 'nunitosans-semibold';
}
.book-a-ride{
    color: black;
    background-color: #F8BB10;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    margin-right:10px;
    margin-bottom:10px;
    margin-top: 60px;
    font-family: 'nunitosans-semibold';
}

.bookacab-tab{
    text-decoration: none;
    color: #1B2074!important;
    font-family:'nunitosans-semibold'!important;
}

.bookacab-tab:hover{
    color: #1B2074;
}
.myrequest-tab{
    text-decoration: none;
    color:#1B2074!important;
    
}

.myrequest-tab:hover{
    color:#1B2074 ;
}
.bookacab-tabactive{
    border-bottom: 4px solid #F8BB10 ;
    padding-bottom: 13px;
    font-family: 'nunitosans-semibold';
    
}
.btnokbtn{
    border: none;
    background-color: #F8BB10;
    color: black;
    border-radius: 5px;
    margin-right:30px;
    margin-bottom:10px;
    padding:10px 30px;
    font-family: 'nunitosans-bold';
}
.btncancelbtn{
    color:#1B2074;
    background-color: #C4C4C4;
    padding:10px 40px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom:10px;
    font-family: 'nunitosans-bold';
}
.confirm-booking-content{
    padding: 5px 20px;

}
.notification-content{
    padding: 0px 5px;
}
.notification-icon{
    padding-top: 3px;
    margin-top: 15px;
}
.notification-title{
    color:#1B2074 ;
    font-family: 'nunitosans-bold';
}
.btnlogoutbtn{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'nunitosans-semibold';
}
.user-profile-icon{
    width: 75px;
}
.userprofile-content{
    padding: 0px 5px;
}
.cursor{
cursor: pointer;
}
.confirmbooking-color{
    color:#1B2074 ;
    font-family: 'nunitosans-bold';
    padding-left: 20px;
    font-size: 18px;
}
.cabapp-logo{
    margin-left: 5px;
}
.clearbtn-link{
    text-decoration: none;
    color:#1B2074 ;
}
.clearbtn-link:hover{
    color:#1B2074;
}
.ok-link{
    text-decoration: none;
    color: black;
}
.ok-link:hover{
    color: black;
}
/**masterpage ends**/
/**ongoing trip starts**/
.ongoing-trip-title{
    color: #1B2074;
    padding: 35px 10px;
    font-family: 'nunitosans-bold';
}
.table-heading{
 padding: 10px 30px;
}
/**ongoing trip ends**/
/**completed  trip starts**/
.register-complaint{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:30px
}

.compalin-title{
    color:#1B2074;
    font-family: 'nunitosans-bold';
}
.btncomplainbtn{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 16px;
    margin-top:20px;
    
    
}
.cancelbtn{
    color:#1B2074;
    background-color: #C4C4C4;
    padding:10px 40px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom:10px;
    margin-top:20px;
  
}
.request-tabactive{
    padding-bottom: 10px;
    border-bottom: 4px solid #F8BB10 ;
    text-decoration: none;
    color: #1B2074;
    font-family: 'nunitosans-semibold';
}
.customise-width{
    width: 14%;
}
.detail{
    padding: 5px 10px;
    font-family: 'nunitosans-semibold';
}
.detail-answer{
    padding: 5px 10px;
}


/**completed trip ends**/
/**empty state starts**/
.bookacab-color{
    color:#1B2074;
}
.btnbookacabbtn{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:20px;
}
.norecord-content{
    
    height: 100%;
}
.book-a-cab-link{
    text-decoration: none;
    color: black;
}
.book-a-cab-link:hover{
    color: black;
}
/**empty state ends**/
/**  my request starts**/
.my-request-title{
    color: #1B2074;
    padding: 15px 10px;
    font-family: 'nunitosans-bold';
   
}
.filter-icon{
    padding: 15px 10px;
}
.sorting
{
	position: relative;
	margin-left: 6px!important;
}
.sort-up
{
	position:absolute;
	top: -8px!important;
	left:0!important;
    
}
.sort-down
{
	position:absolute;
	bottom: -8px!important;
	left:0!important;
    
}
.sort-image
{
	width:8px;
}
.pagination-border
{
	border:none!important;
	color: #717171!important;
	padding: 5px 19px!important;
}
.page-active
{
	font-family: 'nunitoSans-Bold';
	color:#555555;
}
.row-bg-style:nth-child(even)
{
	background-color: #F3F9FF;
}

.spacing
{
	padding:15px 25px !important;
	border-top: none !important;
	border-bottom: none !important;
	vertical-align: middle;
    font-family: 'nunitosans-regular';

}
.button-spacing{
    margin-right:1px;
    border-top: none !important;
	border-bottom: none !important;
	vertical-align: middle;
}
.header-class
{
	border-bottom: none!important;
	padding:15px 25px!important;
	font-size:16px;
    font-family: 'nunitosans-bold';
    color:#282626
    
	
}
.number-spacing{
    font-family: 'nunitosans-regular';
    padding:15px 25px !important;
	border-top: none !important;
	border-bottom: none !important;
	vertical-align: middle;
}
.display-shadow
{
	box-shadow: 0px 9px 28px #8888880d;
	white-space: nowrap;
	background-color:#F8F8F9 ;
    
}
.viewicon{
    padding: 0px 10px;
}
.caps-grid{
    border: 1px solid rgb(196, 196, 196);
}
.previous-page{
    border: none;
    text-decoration: none;
    color:#979797;
}
.current-page{
    border: none;
    text-decoration: none;
    color:#979797;
}
.next-page{
    border: none;
    text-decoration: none;
    color:#979797;
}
.total-records{
    color:#979797;
}
.style-select1
{
	border:1px solid #D8D8D8!important;
}
.advanced-filter
{
	width: 30rem;
    transform: none !important;
    right: 7px !important;
    top: 100% !important;
    left: auto!important;
    border: none !important;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
.filter-title
{
    color:#1B2074;
    font-family: 'nunitosans-bold';

}
.filter-titlenotification{
    font-family: 'nunitosans-bold';
    color:#1B2074;
}

.contact-number{
    text-decoration: none;
    color: black;
}
.username{
    font-family: 'nunitosans-bold';
}
.clear-btn-style
{
	color:#A0A0A0;
	margin-right:12px;
	text-decoration: none;
}
.btnfilterbtn{
    background-color:#F8BB10 ;
    color: black;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}
.notification-content{
    margin-top: 15px;
}
.topnav-border{
    border-bottom: 2px solid #e0e0e0!important;
}


.round
{
    background: #D41E21;
    border: none;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right:6px;
    margin-top: 5px;
    float: left;
}

.Admin-contact-popover{
    width: 22rem;
    transform: none !important;
    right: 7px;
    top: 100% !important;
    left: auto!important;
    border: none !important;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
.notification-popover{
    width: 23rem;
    transform: none !important;
    right: 7px;
    top: 100% !important;
    left: auto!important;
    border: none !important;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
.profile-popover{
    width: 17rem;
    transform: none !important;
    right: 7px;
    top: 100% !important;
    left: auto!important;
    border: none !important;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
/**my request ends**/
/**ongoingride starts**/
.cancel-ride{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    margin-right: 16px;
    margin-top:20px;
    font-family: 'nunitosans-bold';
}
.btnnobtn{
    color:#1B2074;
    background-color: #C4C4C4;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom:10px;
    margin-top:20px;
    font-family: 'nunitosans-bold';
}
.btnyesbtn{
    color: black;
    background-color:#F8BB10 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 16px;
    margin-top:20px;
    font-family: 'nunitosans-bold';
}
.cancel-content{
    font-family: 'nunitosans-bold';
    color:#1B2074;
    font-size: 20px;
}
/**ongoingride endss**/
